@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    scrollbar-gutter: stable;
    overflow-x: hidden;
  }

  body {
    @apply text-body text-neutral-900 bg-white;
  }
}
